*{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}

.zoom{
	margin: 50px;
	position: relative;
}

.zoomMiddle{
	border: 1px solid #ccc;
	width: 300px;
	height: 300px;
	margin-bottom: 3px;
	position: relative;
}
.zoomMiddle img{
	width: 300px;
	height: 300px;
}

.mask{
	width: 100px;
	height: 100px;
	background: #abcdef;
	opacity:0.4;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.zoomSmall{
	-overflow: hidden;
	width: 302px;
	height: 54px;
}
.zoomSmall span{
	float: left;
	height: 52px;
	line-height: 52px;
	width: 10px;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
}
.zoomSmall span.disable{
	cursor: default;
	background: #ccc;
}
.wrapSmallImg{
	float: left;
	height: 54px;
	width: 232px;
	/*background: #f00;*/
	position: relative;
	overflow: hidden;
}

.wrapSmallImg ul{
	width: 348px;
	/*background: #f00;*/
	position: absolute;
	left: 0;
	top: 0;
}
.wrapSmallImg ul li{
	float: left;
	width: 50px;
	height: 50px;
	border: 2px solid #ccc;
	margin: 0 2px;
	_display: inline;
	cursor: pointer;
}
.wrapSmallImg ul li.current{
	border: 2px solid orange;
}
.wrapSmallImg ul li img{
	width: 50px;
	height: 50px;
}

.zoomLarge{
	width: 350px;
	height: 350px;
	border: 1px solid #ccc;
	position: absolute;
	top: 0;
	left: 320px;
	overflow: hidden;
	display:none;
}

.zoomLarge img{
	width: 600px;
	height:600px;
	position: absolute;
	left: 0;
	top: 0;
}